#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.appointment-form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #f0f0f0;
  width: 100%;
  max-width: 600px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  margin-bottom: 20px;
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.phone-group .phone-input {
  display: flex;
}

.phone-group #country-code {
  width: 60px;
  background-color: #f0f0f0;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.phone-group #phone-number {
  flex: 1;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

textarea {
  resize: vertical;
  background-color: #ffff;
  color: #333;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input {
  background-color: #ffff;
  color: #333;
  
}

.btn-cancel {
  background-color: #f0f0f0;
  color: #333;
}

.btn-submit {
  background-color: #2196f3;
  color: white;
}

.btn-submit:hover {
  background-color: #1976d2;
}
